@tailwind base;
@tailwind components;
@tailwind utilities;
.caz_row {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 40px 0;
}

.caz_row.left {
  flex-direction: row;
}

.caz_row.right {
  flex-direction: row-reverse;
}

.caz_row img {
  width: 50%;
  border-radius: 10px;
}

.caz_text {
  width: 50%;
  color: white;
}

@media screen and (max-width: 768px) {
  .caz_row {
    flex-direction: column !important;
  }

  .caz_row img,
  .caz_text {
    width: 100%;
  }
}
